/* Limpiamos los estilos por default que vienen en css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Tipografia general */
/* Declaro nombre y link de donde esta */
@font-face {
    font-family: "roboto_regular";
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: "roboto_black";
    src: url(../fonts/Roboto-BlackItalic.ttf);
    font-family: "soul_big";
    src: url(../fonts/Soulgood.ttf);
    font-family: "valorant";
    src: url(../fonts/Valorant\ Font.ttf);
}
/* body genral tipografia y color */
body{
    font-family: "roboto_regular";
    background-color: #041124;
    background-image: linear-gradient(#2a3249, #020305);
    color: #a9bfb1;  
}
header{
    background-color: rgba(10, 10, 10, 0.986);
    width: 100%;

}
/* marco con color cada boton para que se sepa en que pagina se está */
#estoy_aca{
    background-color: #a9bfb1;
    color: black;
    padding: 5px;
    border-radius: 25px;
}

h1{
    font-family: "valorant";
    font-size: 50px;

}
h1 a{
    /* eliminar el "modo link" del texto */
    text-decoration: none;
    color: white;
}

/* Acomodar el menu */
ul li a{
    text-decoration: none;
    color: aliceblue;
}
/* para hacer el menu una etiqueta de bloque */
header nav ul li{
    display: inline-block;
    font-size: 20px;

}
header div,
header nav{
    display: inline-block;
}

.lormor_logo {
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.menu_boton {
    margin-right: 15px;
}
.menu_boton:hover{
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
    transition: .5s;
    cursor: pointer;
}



/* Boton quien es lormor */
.quien_lormor{
    background-color: rgb(0, 0, 0);
    width: 230px;
    padding: 15px;
    border-radius: 4em;
    z-index: 1;
    font-size: 25px;
}
.quien_lormor a{
    text-decoration: none;
    color: aliceblue;
    cursor: help;
}
.quien_lormor:hover{
    transform: scale(1.2);
    transition: .5s;
    cursor: help;
}
/* Fondo imagen luna */
.contenedor_luna{
    background-image: url(../img/fondolormor2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    background-attachment: fixed;

}
/* presentacion de persona */
/* Aca lo que hice es darle un ancho maximo al contenedor de texto y puse fit content para
que tomase el ancho del body y no de la pantalla */

.astro_div{
    max-width: fit-content;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.avatar_logo{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;

}
.texto_index{
    font-size: 25px;
    width: 500px;
    display: inline-block;
    color: #c2bcc5;
    border-radius: 25px;
    padding: 25px;
    border-style: solid;
    border-width: thin;
}

.skills{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    transition: .5s;
}

.skills:hover{
    transform: scale(1.05);
    transition: .5s;
}
.skills:hover h2{
    opacity: 0;
}
.skills h3{
    opacity: 0;
}
.skills:hover h3{
    opacity: 1;
}

.icon_logo{
    width: 100px;
    height: 100px;
}

/* footer */

footer{
    background-color: black;
    padding-top: 50px;
    text-align: left;

}

footer a{

    color: aliceblue;
    width: auto;
    width: 50px;
    height: 50px;


    

}
footer section h6{
    text-align: center;
    padding-bottom: 30px;
    background-color: black;

}

footer section a img{
    width: 50px;
    height: 50px;
    display: block;
    display: inline-block;
}
.footer_links a{
    margin: 10px;
}
.footer_links{
    text-align: right;
    margin-right: 50px;
}


/* Diseño general de las páginas y post de imagenes*/
/* Imagen de fondo banner titulo  */
.contenedor_t_principal_disenio{
    background-image: url(../img/diseñoback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_animacion{
    background-image: url(../img/animacback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_dibujo{
    background-image: url(../img/dibuback.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_contacto{
    background-image: url(../img/contactoback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}


/* Diseño titulo pagina */
.titulo_principal{
    font-size: 200px;
    text-align: center;
    padding: 20px;
    -webkit-text-fill-color: #c2bcc5;
    -webkit-text-stroke: 3px black;
}

/* Titulo del post / imagenes / texto */

.div_presentador{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 150px;
    margin-top: 110px;
    margin-bottom: 100px;

}

.img_presentador{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.titulo_presentador{
    font-size: 25px;
    display: inline-block;
    background-color: #c2bcc5;
    color: black;
    border-radius: 25px;
    padding: 25px;
}

.contenedor_post{
    width: 60%;
    text-align: center; 
    margin: auto;

}
.texto_post{
    font-size: 25px;
    margin: 50px;
    background-color: #c2bcc5;
    color: black;
    border-radius: 25px;
    padding: 25px;
}

.div_imagen{
    max-width: fit-content;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.imagen_post{
    width: 1400px;
    height: 680px;
}

.en_construccion{
    margin-top: 200px;
    font-size: 100px;
    text-align: center;
}

.contacto_{
margin: 20px;
}

.texto_adv{
    font-size: 14px;
    margin: 50px;
    background-color: #c2bcc5;
    color: black;
    border-radius: 25px;
    padding: 10px;
}

/* pagina del lol */
/* Seleccion de rol */
.div_banner{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* Defino el tamaño de la imagen */
.lol_banner{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 720px;

}
/* Achico la iamgen */
.lol_banner img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
}
/* Le devuelvo el tamaño de la imagen, le subo un cacho el contraste y la devuelvo la opacidad */
.lol_banner img:hover{
    cursor: pointer;
    width: 20%;
    opacity: 1;
    filter: contrast(120%);
    height: 100vh;

}
/* Separador */
.linea_gris{
    width: 80%;
    height: 2px;
    background-color: grey;
    margin-bottom: 80px;
    margin-top: 80px;

}
.div_linea{
    display: flex;
    justify-content: center;
}
.div_linea h2{
    font-family: "soul_big";
    font-size: 150px;
    margin-bottom: 100px;

}

/* Champion 1 #Thresh */
.div_lol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 200px;

}
.thresh_banner_lol{
    grid-column: 1/6;
    background-color: green;
    height: 200px;
    margin-bottom: 80px;
    background-image: url(../img/lol/banner_thresh.png);
    align-self: center;
    background-position: center;
    background-size: cover;
    margin-right: -10%;
    margin-left: -10%;
}
.thresh_lol{
    grid-column: 1/3;
    grid-row: 2/6;
    background-image: url(../img/lol/thresh.jpg);
    height: 700px;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 25px;
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.nombre_lol{
    grid-column: 4/6;
    font-family: "soul_big";
    justify-self: end;
    align-self: end;
}
.nombre_lol h2{
    font-size: 150px;
}
.nombre_lol h4{
    font-family: "roboto_regular";    
    text-align: end;
}

.texto_lol{
    grid-column: 3/6;
    grid-row: 3/5;
    font-size: 20px;
}
.botones_guias{
    grid-column: 5/6;

}
 /* Botones de guias */
.opgg{
    width: 150px;
    height: 60px;
}
.opgg:hover{
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.graphs:hover{
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.skills_lol{
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 20px;
    height: 50px;
    
}
.skills_lol div{
    position:relative;
    display: inline-block;
    text-align: end;
}
.skills_lol img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    filter: drop-shadow(0px 0px 10px rgb(44, 43, 44));
    border-radius: 8px;

}
.skills_lol h4{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #2a3249;
    padding-left: 4px;
    padding-right: 4px;
}

/* Champion 2 Renata */
.renata_banner_lol{
    grid-column: 1/6;
    background-color: green;
    height: 200px;
    margin-bottom: 80px;
    background-image: url(../img/lol/banner_renata.png);
    align-self: center;
    background-position: center;
    background-size: cover;
    margin-right: -10%;
    margin-left: -10%;

}
.renata_lol{
    grid-column: 1/3;
    grid-row: 2/6;
    background-image: url(../img/lol/renata.png);
    height: 700px;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 25px;
    filter: drop-shadow(0px 0px 10px rgb(170, 3, 170));
    border-radius: 8px;
}


