@import 'generales';
@import 'header';
@import 'footer';
@import 'index';
@import 'media';

/* Limpiamos los estilos por default que vienen en css */




/* Diseño general de las páginas y post de imagenes*/
/* Imagen de fondo banner titulo  */
.contenedor_t_principal_disenio{
    background-image: url(../img/diseñoback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_animacion{
    background-image: url(../img/animacback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_dibujo{
    background-image: url(../img/dibuback.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.contenedor_t_principal_contacto{
    background-image: url(../img/contactoback.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.main_post{
    margin-left: 15%;
    margin-right: 15%;
}

/* Diseño titulo pagina */
.titulo_principal{
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    -webkit-text-fill-color: #c2bcc5;
    -webkit-text-stroke: 3px black;
}

/* Titulo del post / imagenes / texto */

.div_presentador{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 10%;
    padding-bottom: 5%;
}

.img_presentador{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 6%;
}

.titulo_presentador{
    background-color:#08090e98; ;
    display: inline-block;
    border-style: solid;
    color: white;
    border-radius: 25px;
    padding: 25px;
}
.titulo_presentador h2{
    font-size: 35px;
}
.titulo_presentador h5,h6{
    font-size: 17px;
    display: inline-block;
}   
.new{
    color: white;
    background-color: green;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
}
.contenedor_post{
    width: 60%;
    margin: auto;
    border-left-style: solid;
    border-left-width: 10px;

}
.texto_post{
    font-size: 25px;
    margin: 50px;
    color: rgb(216, 212, 212);
    border-radius: 25px;
    padding: 25px;
}
.div_cita{
    display: flex;
    margin: auto;
    width: 60%;
    background-color: #08090e98;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;;
}

.div_imagen{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.video{
    width: 720px; 
    height: 500px;
}
.imagen_post{
    width: 100%;
    height: 40%;
    max-width: fit-content;
}
.div_imagen2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.en_construccion{
    margin-top: 200px;
    font-size: 100px;
    text-align: center;
}

.texto_adv{
    font-size: 6px;
    background-color: #c2bcc5;
    color: black;
    border-radius: 25px;
    padding: 10px;
}

/* pagina del lol */
/* Seleccion de rol */
.div_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
/* Defino el tamaño de la imagen */
.lol_banner {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 720px;

}
/* Achico la iamgen */
.lol_banner a{
    display: flex;
    justify-content: center;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s;
}
/* Le devuelvo el tamaño de la imagen, le subo un cacho el contraste y la devuelvo la opacidad */
.lol_banner a:hover{

    width: 20%;
    opacity: 1;
    filter: contrast(120%);
    height: 90vh;
    z-index: 1;
    filter: drop-shadow(0px 0px 10px rgb(164, 165, 165));
    border-radius: 8px;
    height:auto; /* Ajusta la altura deseada */
    margin: -5% -5%; /* Ajusta el margen para agrandar en ambos lados */
    max-width: 80%;

}
/* Separador */
.linea_gris{
    width: 80%;
    height: 2px;
    background-color: grey;
    margin-bottom: 80px;
    margin-top: 80px;

}
.div_linea{
    display: flex;
    justify-content: center;
}
.div_linea h2{
    font-family: "soul_big";
    font-size: 150px;
    margin-bottom: 100px;

}

/* Champion 1 #Thresh */
.div_lol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-bottom: 200px;
}
.div_banner_cel{
    display: none;
}
.thresh_banner_lol{
    grid-column: 1/6;
    height: 200px;
    margin-bottom: 80px;
    background-image: url(../img/lol/banner_thresh.png);
    align-self: center;
    background-position: center;
    background-size: cover;
    margin-right: -10%;
    margin-left: -10%;
}
.thresh_lol{
    grid-column: 1/3;
    grid-row: 2/6;
    background-image: url(../img/lol/thresh.jpg);
    height: 800px;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 25px;
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.nombre_lol{
    grid-column: 4/6;
    font-family: "soul_big";
    justify-self: end;
    align-self: end;
    margin-right: 20px;
}
.nombre_lol h2{
    font-size: 150px;
}
.nombre_lol h4{
    font-family: "roboto_regular";    
    text-align: end;
}

.texto_lol{
    grid-column: 3/6;
    grid-row: 3/5;
    font-size: 20px;
}
.botones_guias{
    grid-column: 5/6;

}
 /* Botones de guias */
.opgg{
    width: 150px;
    height: 60px;
}
.opgg:hover{
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.graphs:hover{
    filter: drop-shadow(0px 0px 10px cyan);
    border-radius: 8px;
}
.skills_lol{
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    gap: 20px;
    height: 50px;
    
}
.skills_lol div{
    position:relative;
    display: inline-block;
    text-align: end;
}
.skills_lol img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    filter: drop-shadow(0px 0px 10px rgb(44, 43, 44));
    border-radius: 8px;

}
.skills_lol h4{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #2a3249;
    padding-left: 4px;
    padding-right: 4px;
}

/* Champion 2 Renata */
.renata_banner_lol{
    grid-column: 1/6;
    height: 200px;
    margin-bottom: 80px;
    background-image: url(../img/lol/banner_renata.png);
    align-self: center;
    background-position: center;
    background-size: cover;
    margin-right: -10%;
    margin-left: -10%;

}
.renata_lol{
    grid-column: 1/3;
    grid-row: 2/6;
    background-image: url(../img/lol/renata.png);
    height: 800px;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 25px;
    filter: drop-shadow(0px 0px 10px rgb(170, 3, 170));
    border-radius: 8px;
}
/* Champion 3 zeri */
.zeri_banner_lol{
    grid-column: 1/6;
    height: 200px;
    margin-bottom: 80px;
    background-image: url(../img/lol/banner_zeri.png);
    align-self: center;
    background-position: center;
    background-size: cover;
    margin-right: -10%;
    margin-left: -10%;

}
.zeri_lol{
    grid-column: 1/3;
    grid-row: 2/6;
    background-image: url(../img/lol/zeri.png);
    height: 800px;
    align-items: center;
    background-position: center;
    background-size: cover;
    margin: 25px;
    filter: drop-shadow(0px 0px 10px rgb(8, 197, 103));
    border-radius: 8px;
}

/* CONTACTO */
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"]{ 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

#contact {
	background: #050505;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	border:1px solid #000000;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #000000;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:cyan;
	color:#220b0b;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button:hover {
	background:rgb(54, 54, 54);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #000000;
}

